<h1>メモ一覧</h1>
<div>
  <%= link_to '新規登録', new_task_path, class: "btn btn-outline-success" %>
</div>

<% @task.each do |task| %>
  <p>
      <%= link_to task_path(task.id) do %>
        <p><%= task.name %></p>
      <% end %>
  </p>
    <p><%= task.content %></p>
    <p><%= link_to "編集", edit_task_path(task), class: "btn btn-outline-secondary" %>
        <%= link_to "削除", task_path(task), method: :delete, class: "btn btn-outline-danger" %></p>
<% end %>

<div id='calendar'></div>

<div id="modal" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="form_new">
                    <%= render partial: "form_new",locals: {event: @event} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="edit-modal" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="form_edit">
                    <%= render partial: "form_edit",locals: {event: @event} %>
        </div>
      </div>
    </div>
  </div>
</div>